<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

    <main id="pages-home">

        <h1>ASX Trading Game</h1>
        <p>
        <br />
        <br />
        Welcome to the ASX trading game where you are competing only against others playing this game.<br />
        <br />
        A new player gets given a choice between 4 random asx 200 companies to get $10,000 worth of stock in and $10,000 cash.<br />
        <br />
        A player can only buy stocks using their cash from other players. The price of the stock is set by the owner at a % above or below the current market value.<br />
        <br />
        All stocks must have a price where they can be sold. This range is always within %5 of the market price.. So even if you want to keep your stock another player can always buy it from you for %5 above the market.<br />
        <br />
        Cash doesn't move and will be half of the value on the site as everyone starts with 10k stocks and 10k cash.<br />
        <br />
        Users are ranked by their current market value.<br />
        </p>

    </main>

</body>
</html>